:root{
    --text: rgb(4, 3, 22);
    --background: rgb(244, 243, 242);
    --dark : rgb(231,231,230);
    --primary: rgb(252, 209, 149);
    --secondary: rgb(95,185,178);
    --danger: rgb(var(--vs-danger));
    --vs-primary: 255, 196, 87;
    --vs-success: 95 , 185, 178;
    --vs-text: 67,67,67;
}
@media (prefers-color-scheme: dark) {
     :root {
        --text: rgb(243, 243, 242);
        --text-disable : rgb(190, 190, 188);
        --background: rgb(44,44,40);
        --primary: rgb(252, 209, 149);
        --secondary: rgb(99, 83, 54);
        --dark: rgb(23,21,17);
        --danger: rgb(228,121,121);
        --success: rgb(95,185,178);
        --vs-primary: 252, 209, 149;
        --vs-danger: 228,121,121;
        --vs-dark: 1, 1, 4;
        --vs-success: 95,185,178;
    }
 }

body {
    color: var(--text);
    background: var(--background);
}


/* for svg icons */
svg {
    fill: var(--primary) !important;
}


.vs-button-filled .vs-button-text {
    color: rgb(var(--vs-text));
}
@media (prefers-color-scheme: dark) {
    .vs-button-filled .vs-button-text {
        color: var(--background);
    }
}