.DS_Store
node_modules
**/src/frontend/node_modules
**/src/frontend/dist


# local env files
.env.local
.env.*.local
.env

# Env files
**/src/main/resources/application-dev.yml

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


**/src/main/resources/application.yaml
**/src/main/resources/application.yml
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/frontend/node/node
src/frontend/node/npm
src/frontend/node/npm.cmd
src/main/resources/kafka-certs/ca.pem
src/main/resources/kafka-certs/service.cert
src/main/resources/kafka-certs/service.key
src/main/resources/kafka-certs/client.keystore.p12
src/main/resources/kafka-certs/client.truststore.jks
